  <!-- Static header -->
<ng-include src="'partials/header.html'" ></ng-include>
 <!-- start page -->
  <div class="row">
  	<div id="startView" style="background:#48cfae; width:100%; height:500px;">
  		<center><div id="page-header">
        	 </br></br><br><br></br></br><br><br>
 			 <font style="color:#f8f8f8;"><h1>Welcome to Bookshelf!</h1></font>
		</div><center>
  	</div>
  </div>
  <div class="row">
    <div id="stuff" class="jumbotron" style="padding:1% 0 0 0;margin:0 0 0 0;">
      <div class="row">
          <center>
              <font style="color:#777777;"><h2 style="margin:0 0 0 0;">Our team</h2></font>
              <img src="animal.jpg" alt="nej" class="img-circle" width="10%" style="margin: 2% 2% 5% 2%">
              <img src="stina.jpg" alt="nej" class="img-circle" width="10%" style="margin: 2% 2% 5% 2%">
              <img src="chrille.jpg" alt="nej" class="img-circle" width="10%" style="margin: 2% 2% 5% 2%">
              <img src="bella.jpg" alt="nej" class="img-circle" width="10%" style="margin: 2% 2% 5% 2%">
          </center>
      </div>
    </div>  
  </div>         
              


