<!--Så här inne ska det alltså läggas till böcker när man söker efter dem i search så ska man kunna klicka i "add to my library"
I library ska man också kunna välja ut böcker till sin "trade-list", som ska finnas i "shopping cart"
Och det ska finnas en like-knapp, som ska upp i topplistan -->
<ng-include src="'partials/loginheader.html'" ></ng-include>


  <div class="row">
  	<div class="col-md-12"id="startView" style="background:#48cfae; width:100%; height:100px;">
  		<center>
  		<div id="page-header">
 			<font style="color:#f8f8f8;"><h1>My Bookshelf</h1></font>
		</div>
  	</div>
  </div>
  <div class="row">
    <div id="libraryContent" class="jumbotron" style="padding:1% 0 1% 0;margin:0 0 0 0;">
      <div class="row">
          <center>
          	<div class="userLibrary">

			<table style="border-spacing: 5px;">
			
				<tr class="booksRow" ng-repeat="row in chunks">
				 	<td class="searchedBook" ng-repeat="book in row"> 
				 
				 		
						<img class="bookThumbnail" style="position:relative" ng-src="{{book.volumeInfo.imageLinks.smallThumbnail}}"></img> 
						<div class="bookInfo" style="position: relaive">
						<center><h5> {{book.volumeInfo.title}}   </br></h5>
						<a class="btn btn-warning"  ng-click="tradeBooks(book.volumeInfo)">Trade book</a>
						<a class="btn btn-default"  ng-click="removeBook(book.volumeInfo)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
           				</center>
						{{hej}}
						</div>
						
					</td>
				</tr>
			</table>
          	</div>
          		<center><a href="#/search"><button class="btn btn-default" type="button">Add Books to Your Library! </button></a></center>
          </center>
      </div>
    </div>  
  </div> 
	
	