<!doctype html>
<html ng-app="" lang="en">
<head>
<meta charset="UTF-8">
<title>Bookshop</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.3/firebase.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>

<body  ng-controller="userCtrl">
<center>

<div class="container-fluid">

	<div class=row>
    <div class="jumbotron" 
	<div class="col-md-12">
		<input type="text" id="username" placeholder="username" ng-model="username" /></br>
        <input type="text" id="password" placeholder="password" ng-model="password" /></br>
        <button class="btn btn-warning" ng-click="new()">Register</button>
        <button class="btn btn-warning" ng-click="submit()">Login</button>


	</div>
    </div>
    </div>
    <div >
    	<table class="table">
        	<thead>
            	<th>Username</th>
                <th>Password</th>
            </thead>
            <tbody ng-repeat="user in users">
            	<td>{{user.username}}</td>
                <td>{{user.password}}</td>
            </tbody>
        </table>
    </div>

</div>

</center>
	
<script>
	//user controller
	function userCtrl($scope){
		$scope.username = "";
		$scope.password = "";
		$scope.users ={};
		
		$scope.database = new Firebase("https://dazzling-torch-7020.firebaseio.com/Users");
		
		//Register button
		$scope.new = function(){
			if( $scope.username == ""  || $scope.password == "" ){
				
				alert("You need to fill in both fields");
			}
			else{
				alert("You have successfully created an account!");
				$scope.database.push({username:$scope.username, password:$scope.password});
				
			}
		};
		
		//Login button
		$scope.submit = function(){
			alert("You are now loged in as "+$scope.username);
		};
		
		$scope.database.on('value', function(snapshot){ //snaphot is the data (usernamedata)
			$scope.users = snapshot.val();
			$scope.$apply();
			
		});
	};
	
</script>
</body>


</html>