<!-- Kunna söka efter en bok man vill ha (som alltså är "tradeable") och om man klickar på den boken så kommer mer information om säljaren (typ mail, telefonnr)-->

<ng-include src="'js/view/loginheader.html'" ></ng-include>

<div class="row">
	<div id="cartcontent">
		<p>SHOPINGCART</p>
		<div class="row" id="wrap">
			<div class="col-md-3 col-xs-12">
			<div id="book">
				<div id="bookimg">
					<img src="http://projekt.clindstrom.se/img/foundation.jpg" width="300px"/>
				</div>
				<div id="booktext">
					<h3>The Foundation</h3>
					<h4>Isaac Asimov</h4>
					<p>SPACE!</p>
				</div>
			</div>
			</div>
			<div class="col-md-3 col-xs-12">
			<div id="book">
				<div id="bookimg">
					<img src="http://projekt.clindstrom.se/img/foundation.jpg" width="300px"/>
				</div>
				<div id="booktext">
					<h3>The Foundation</h3>
					<h4>Isaac Asimov</h4>
					<p>SPACE!</p>
				</div>
			</div>
			</div>
			<div class="col-md-3 col-xs-12">
			<div id="book">
				<div id="bookimg">
					<img src="http://projekt.clindstrom.se/img/foundation.jpg" width="300px"/>
				</div>
				<div id="booktext">
					<h3>The Foundation</h3>
					<h4>Isaac Asimov</h4>
					<p>SPACE!</p>
				</div>
			</div>
			</div>
			<div class="col-md-3 col-xs-12">
			<div id="book">
				<div id="bookimg">
					<img src="http://projekt.clindstrom.se/img/foundation.jpg" width="300px"/>
				</div>
				<div id="booktext">
					<h3>The Foundation</h3>
					<h4>Isaac Asimov</h4>
					<p>SPACE!</p>
				</div>
			</div>
			</div>
			<button class="btn btn-warning" id="knapp">Check out</button>
		</div>
	</div>
</div>
