<ng-include src="'js/view/loginheader.html'" ></ng-include>
 <head>
	<meta charset="utf-8">
    <style type="text/css">
		#librarycontent
		{
			background-color: #48cfae;
			margin: 0;
			padding: 0;
			width: 100%;
			height: 500px;
		}
		
		div.img 
		{
			margin-left: 70px;
			margin-top: -20px;
			padding: 5px;
			float: left;
			text-align: center;
		}

		div.img img 
		{
			display: inline;
			margin: 10px;
		}
		
		h1
		{
			font-size: 24px;
			margin-left: 20px;
			padding-bottom: 20px;
			padding-top: 0px;
		}
		
    </style>
</head>
<div class="row" style="background:#48cfae; >
<div id="librarycontent">
	<h1>My library:</h1>
	
	<div class="img">
		<img src ="http://runeberg.org/img/tsonas/0173.1.jpg" width="110" height="450">
	</div>
		<div class="img">
		<img src ="http://upload.wikimedia.org/wikipedia/commons/5/54/Bokrygg_f%C3%B6r_uggleupplagan.jpg" width="110" height="450">
	</div>
	
</div>
</div>